.jobsboard {
  margin-top: 20px; }

.card {
  width: 100%;
  min-width: 247px;
  display: inline-block;
  text-align: left;
  background: white;
  position: relative; }

.card--job {
  padding: 15px;
  height: 436px;
  border: 8px solid white;
  max-width: 365px;
  transition: border 400ms ease-in-out; }
  .card--job .info {
    height: 162px; }
  .card--job .company-logo {
    padding: 10px; }
  .card--job .basic-info {
    margin-top: 18px;
    font-size: 12px;
    line-height: 18px; }
    .card--job .basic-info .basic-info--title {
      font-weight: 600; }
    .card--job .basic-info .basic-info--salary {
      margin-top: 6px; }
    .card--job .basic-info .tagline {
      margin: 11px 0 2px 0;
      font-size: 12px;
      line-height: 18px;
      height: 58px;
      overflow-y: hidden; }
      .card--job .basic-info .tagline .tags {
        height: 30px;
        width: 100px;
        background-color: #ffe9e7;
        color: #ff76ce;
        margin-right: 6px;
        margin-bottom: 6px;
        font-size: 11px;
        line-height: 14px;
        padding: 8px;
        font-weight: 600;
        display: inline-flex;
        border-radius: 2px;
        text-transform: uppercase; }
    .card--job .basic-info .buttons {
      display: flex;
      justify-content: flex-start; }
      .card--job .basic-info .buttons .button {
        background: red;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: background 400ms ease-in-out;
        padding: 6px;
        border: none;
        border-radius: 2px;
        height: 30px;
        text-transform: uppercase;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: normal;
        color: white;
        position: relative; }
        .card--job .basic-info .buttons .button .button:hover {
          background: #ff9f95 !important;
          color: white !important;
          cursor: pointer; }
        .card--job .basic-info .buttons .button .button:focus {
          outline: none; }
